.appointments-page {
    padding: 20px;
    font-family: 'Inter', sans-serif;
}

.btn-primary {
    background: #0C1A4B;
    color: #fff;
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.search-bar input {
    width: 350px;
    padding: 10px 16px;
    border-radius: 20px;
    border: 1px solid #d1d5db;
}

.appointments-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
}

    .appointments-table thead {
        background: #f3f6fc;
    }

    .appointments-table th {
        text-align: left;
        padding: 16px;
        font-size: 14px;
        color: #6b7280;
    }

    .appointments-table td {
        padding: 16px;
        border-bottom: 1px solid #eff1f5;
        vertical-align: middle;
    }

.patient-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile-img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.patient-name {
    font-weight: 600;
}

.patient-meta {
    font-size: 12px;
    color: #6b7280;
}

/* Time & Date */
.time {
    font-weight: 700;
    color: #0C1A4B;
}

.date {
    font-size: 13px;
    color: #6b7280;
}

/* STATUS BADGES */
.status-badge {
    padding: 6px 14px;
    font-size: 13px;
    border-radius: 20px;
    font-weight: 600;
    display: inline-block;
}

/* Colors */
.status-warning {
    background: #fff8dd;
    color: #b7791f;
}

.status-danger {
    background: #ffe2e5;
    color: #d32f2f;
}

.status-success {
    background: #d1fae5;
    color: #047857;
}

.status-info {
    background: #ede9fe;
    color: #6d28d9;
}
